<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Server View</title>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <style>.content {padding-top: 80px;}</style>
  </head>

  <body>

    {%- block topbar -%}
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <h2>
              <a href="/" class="brand">Server View</a>
          </h2>
        </div>
      </div>
    </div>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>
